<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Resume:</strong>
  <%= @book.resume %>
</p>

<p>
  <strong>Type:</strong>
  <%= @book._type %>
</p>

<p>
  <strong>Publication:</strong>
  <%= @book.publication %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @book.publisher.name %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @book.autor.name %>
</p>

<p>
  <strong>Cover:</strong>
  <%= @book.cover %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
